<p style="color: green"><%= notice %></p>

<% content_for :title, "Bookmarks" %>

<h1>Bookmarks</h1>

<section id="bookmarks">
  <% @bookmarks.each do |bookmark| %>
    <div>
    <div class="bookmark">
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </div>
    <div>
      <%= link_to "Edit", edit_bookmark_path(bookmark) %>
    </div>
  <% end %>
</section>

<section id="navigation">
  <%= button_to "New bookmark", new_bookmark_path, method: :get %>
</section>

<section id="import">
  <h2>Import Bookmarks</h2>
  <%= form_tag import_bookmarks_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import JSON" %>
  <% end %>
</section>
